.c-sectionRegister{
    position: relative;
    width: 100%;
    margin: 3rem 0;
}

.c-bigtitle{
    border-bottom: 1px solid #eeeeee;
}

.c-vsegement{
    // border-left: 2px solid #000;
    margin-top: 2rem;

    .tab{
        color: #878787;
        padding: 1rem;
        font-weight: 700;
        border-left: 4px solid #ebebeb;
    }

    .activetab{
        color: #000;
        font-weight: 700;
        padding: 1rem;
        border-left: 4px solid #af8231;
    }
}

.c-sectionx{
    position: relative;
    // width: 100%;
    padding: 1rem;
    background-color: #fff;

    .c-toptitle{
        width: 100%;
        display: block;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #eeeeee;

        @media screen and (min-width: 768px) {
            display: flex;
        }

        .c-label{
            display: flex;
            align-items: center;

            .nav-link{
                text-decoration: none;
                margin-left: 5px;
            }
        }
    }

    .form-control{
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .c-btn1{
        justify-content: flex-end;
        display: flex;
        margin-top: 2rem;
    }

    .c-btn2{
        justify-content: space-between;
        display: flex; 
        margin-top: 2rem;
    }

    .c-btnPrimary{
        display: inline-block;
        color: #fff;
        background-color: #dba514;
        background: linear-gradient(118deg, rgba(219, 165, 20, 1) 0%, rgba(175, 130, 49, 1) 100%);
        font-weight: 600;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        text-decoration: none;
        padding: .375rem 2rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
}

.MuiFormGroup-root{
    flex-direction: row !important;
}

.MuiFormControl-root{
    width: auto !important;
}

.MuiInput-root{
    width: 100% !important;
}