
*{
    outline: none !important;
}

.c-banner{
    width: 100%;

    img{
        width: 100%;
    }
}

.c-section{
    position: relative;
    width: 100%;
    margin-bottom: 2rem;

    .c-card{
        position: relative;
        width: 88%;
        background-color: #fff;
        padding: 1rem;
        margin: 0 auto;
            margin-bottom: 2rem;

        .c-therow{
            align-items: center;
            display: flex;
            justify-content: space-between;

            .c-subrow{
                align-items: center;
                display: flex;

                .c-avantar{
                    position: relative;
                    width: 20%;
                    margin-right: 1rem;
                    img{
                        width: 100%;
                    }
                }
        
                .c-detail{
                    width: 70%;
    
                    .bold{
                        color: #000;
                        font-weight: 700;
                    }
    
                    .descrip{
                        color: #000;
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
            }
        
        }

        .c-navbox{
            align-items: center;
            display: flex;
            display: block;

            .nav-link{
                text-decoration: none;
                align-items: center;
                display: flex;
                margin-bottom: .5rem;
                color: #878787;

                .padd-right{
                    margin-right: .5rem;
                }
            }

            .colorprimary{
                color: #dba514;
            }
        }

        .c-subdetail{
            p{
                font-size: 14px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 80%;
            }
            
        }

        .c-prod{
            width: 100%;
            margin: 0 auto;
            border: 1px solid #eeeeee;
            
            img{
                width: 80%;
                text-align: center;
                margin: 0 auto;
                display: block;
            }
        }

        .c-freshprod{
            width: 100%;
            margin: 0 auto;

            img{
                width: 100%;
            }
        }

        .c-btn{
            text-align: center;
            margin-top: 1rem;
            .c-btnprimary{
                position: relative;
                width: 100%;
                background-color: #dba514;
                background: linear-gradient(118deg, rgba(219, 165, 20, 1) 0%, rgba(175, 130, 49, 1) 100%);
                padding: 1rem 0rem;
                border-radius: 8px;
                color: #fff;
                font-weight: 700;
                text-decoration: none;
                text-align: center;
                display: block;
    
            }
        }

        .c-freshdetail{
            justify-content: space-between;
            display: flex;
            margin-top: 1rem;
            align-items: center;

            .colorHeart{
                color: #e42400;
            }

        }
    }

    .c-banner2{
        width: 100%;
        margin: 3rem 0;
    
        img{
            width: 100%;
        }
    }

    .c-title{
        margin-bottom: 3rem;
    }
}



.slick-prev{
    &:before{
        color: #000;
    }
}

.slick-next{
    &:before{
        color: #000;
    }
}

.slick-next.slick-disabled:before, .slick-prev.slick-disabled:before{
    opacity: 1;
}

.slick-prev {
    left: -15px;

    @media screen and (min-width: 768px) {
        left: -20px;
    }

    @media screen and (min-width: 992px) {
        left: -25px;
    }
}

.slick-next {
    right: -15px;

    @media screen and (min-width: 768px) {
        right: -20px;
    }

    @media screen and (min-width: 992px) {
        right: -25px;
    }
}