.c-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  border-bottom: 1px solid #eeeeee;
}
.c-header .c-flex {
  align-items: center;
  display: flex;
}
.c-header .c-flex .c-logo {
  width: 30%;
  margin-right: 5%;
}
@media screen and (min-width: 768px) {
  .c-header .c-flex .c-logo {
    width: 20%;
  }
}
@media screen and (min-width: 992px) {
  .c-header .c-flex .c-logo {
    width: 14%;
  }
}
.c-header .c-flex .c-logo img {
  width: 100%;
}
.c-header .c-flex .c-wrap {
  align-self: center;
  display: flex;
  width: 100%;
}
.c-header .c-flex .c-wrap .c-category {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.c-header .c-flex .c-wrap .c-category img {
  width: 25px;
  height: 25px;
}
.c-header .c-flex .c-wrap .c-category span {
  display: block;
  color: #000;
  font-weight: 600;
  position: relative;
  margin-left: 12%;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  display: flex;
}
@media screen and (min-width: 768px) {
  .c-header .c-flex .c-wrap .c-category span {
    font-size: 1rem;
  }
}
.c-header .c-flex .c-wrap .c-search {
  width: 100%;
  position: relative;
  margin-left: 2rem;
}
.c-header .c-flex .c-wrap .c-search .c-searchwrapper {
  width: 80%;
  padding: 0.5rem;
  display: flex;
  color: #878787;
  background-color: #eeeeee !important;
  border-radius: 6px;
  display: flex;
  align-items: center;
}
.c-header .c-flex .c-wrap .c-search .c-searchwrapper .c-searchicon {
  width: 100%;
  margin-right: 1rem;
}
@media screen and (min-width: 768px) {
  .c-header .c-flex .c-wrap .c-search .c-searchwrapper .c-searchicon {
    width: 3%;
    margin-top: 4px;
  }
}
@media screen and (min-width: 992px) {
  .c-header .c-flex .c-wrap .c-search .c-searchwrapper .c-searchicon {
    width: 4%;
    margin-top: 4px;
  }
}
.c-header .c-flex .c-wrap .c-search .c-searchwrapper .c-searchicon img {
  width: 100%;
}
.c-header .c-flexRight {
  display: flex;
  justify-items: flex-end;
  justify-content: flex-end;
  flex-grow: 1;
}
.c-header .c-flexRight .navbar-nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
  align-items: center;
}
.c-header .c-flexRight .navbar-nav .nav-link {
  padding: 0.5rem;
  color: #878787;
  text-decoration: none;
}
.c-header .c-flexRight .navbar-nav .nav-link img {
  width: 75%;
}
.c-header .c-flexRight .c-btn {
  align-items: center;
  justify-content: center;
  display: flex;
}
.c-header .c-flexRight .c-btn .c-btnlogin {
  position: relative;
  width: 82px;
  background-color: #dba514;
  background: linear-gradient(118deg, #dba514 0%, #af8231 100%);
  padding: 0.675rem 0.75rem;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  align-items: center;
  display: flex;
}
.c-header .c-flexRight .c-btn .c-btnlogin img {
  width: 25%;
  align-items: center;
  margin-right: 0.5rem;
}

.MuiContainer-root {
  display: flex !important;
}

.MuiInputBase-root {
  font-weight: 500 !important;
}

.MuiFormControl-root {
  width: 100% !important;
}

.MuiInputBase-input {
  padding: 0 !important;
}

.MuiInput-underline:before {
  border-bottom: none !important;
}
.MuiInput-underline:after {
  border-bottom: none !important;
}

/*# sourceMappingURL=Header.css.map */
