.footer{
    background:lightgrey;
    /* margin-top:600px; */
    height:100%;
    display: flex;
    align-items: center;

}

.c-inner-list > li{
    list-style-type: none;
    list-style:none;
    padding-bottom:10px;
    font-weight: 500;
}
.first-list{
    margin-bottom:0px;
    padding-bottom: 0px;
}
.footer-bar{
    width: 100%;
    align-items: center;
    background-color: #3C3B3A;
    color:white;
}
.footer-inner-div{
   
    align-items: center;
    display: flex;
}
    
.footer-bar-inner{
    margin:0 28px;
    position: relative;
    left:10px;
    color:lightgrey;
}
.footer-bar-inner .first{
    font-weight: bold;
}